<center>
<strong>Welcome, to the <em>"GUESS NUMBER GAME"</em>, please enter your name.
</strong> </center>


<center><img src="/img/numbers.jpeg"; 
style="height:15rem; width:25rem;"/></center>




<center>
<form method = "post" action ="/users_name">
    <input type = "text" name = "user_name" autofocus>
    <input type = "submit">
</form>
</center>
